<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Ajout de la feuille de style Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        
        <!-- Styles spécifiques à cette page (peuvent être définis dans le bloc stylesheets) -->
        {% block stylesheets %}{% endblock %}
    </head>
    <body>

    <!-- Bloc body pour le contenu de la page -->
    {% block body %}
        {% for flash_error in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
        {% endfor %}

        <h1 text-white>Register</h1>

        <!-- Affichage des erreurs du formulaire -->
        {{ form_errors(registrationForm) }}

        <!-- Début du formulaire d'inscription -->
        {{ form_start(registrationForm) }}
        
            <!-- Champ pour l'adresse email -->
            {{ form_row(registrationForm.email) }}

            <!-- Champ pour le mot de passe avec une étiquette personnalisée -->
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}

            <!-- Champ pour l'acceptation des termes -->
            {{ form_row(registrationForm.agreeTerms) }}

            <!-- Bouton de soumission du formulaire -->
            <button type="submit" class="btn border">Register</button>

        <!-- Fin du formulaire d'inscription -->
        {{ form_end(registrationForm) }}
    {% endblock %}
    <!-- Fin du bloc body -->

    </body>
</html>
