{% extends 'base.html.twig' %}

{% block title %}
    {# Titre de la page #}
{% endblock %}

{% block body %}
<div class="contenu">
    <br><br><br><br>
    <h1 class="fst-italic text-center">Nos Plats</h1>
    <main class="container">
        <div class="row">
            {% for plat in plats %}
                <div class="col-md-4 mb-4">
                    <div class="card text-center" id="images" style="width: 350px; height: 500px;">
					<div class="d-flex align-items-center justify-content-center" style="height: 100%;">
                        <img src="{{ asset(plat.image) }}" alt="{{ plat.libelle}}" width="300" height="200">
						</div>
                        <div class="card-body d-flex flex-column"> <!-- Utilisation de flexbox -->
                            <h5 class="card-title">{{ plat.libelle }}</h5>
                            <p class="card-text">
                                {{ plat.description }}
                            </p>
                            <p class="content bg-body">
                                {{ plat.prix }} euros
                            </p>
                            <div class="mt-auto text-center"> <!-- Centrez le bouton -->
                                <a class="btn btn-primary" href="{{ path('panier_add_panier', { id: plat.id }) }}">Ajouter au panier</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% if loop.index is divisible by 5 %}
        </div>
        <div class="row">
            {% endif %}
        {% endfor %}
    </div>
</main>
{# Ajoutez le lien "Voir le panier" ici #}
</div>
{% endblock %}
